<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Project</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script src="main.js"></script>
    <!--
    	<script src="https://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
    	<script src="https://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
    -->
    <style>
        form > ul { list-style: none; }
        #results { list-style: none; }
        #results > li {
        	border:1px solid #ccc; padding: 10px; width: 500px; display:flex;
        	flex-wrap:wrap; justify-content: flex-start ;
        }
        #results li > div { width: 30%; margin:0; padding:0; }
        #results li > ul { width: 70%; margin:0; padding:0; }

    </style>
</head>

<body>
    <form>
        <ul>
            <li>
                <label>Add a Music Genre</label>
                <input id="musicGenre" value="rock">
            </li>
            <li>
                <label>Add a Location</label>
                <input id="location" value="dublin, ireland">
            </li>
            <li>
                <button>Search</button>
            </li>
    </form>

    <ul id="results"></ul>

    <!-- <script src="config.js"></script> -->

    <script>
/*
	var clientId = "SVDR1ABESWSG1XSDO3AREN5PJDGO2PYEUXSCVOAZJIVLZV1U";
	var clientSecret = "CFMUBOOBR5AFXTEXWKXTLOCP4UPWL0FEICEAQFSOCD4PG24X";

	var oAuthKey = "DukM8rtDCLGrdTf7x2OPFj02c2c";
	var provider = 'foursquare';

	var urlAuthFoursquare = "https://foursquare.com/oauth2/access_token";
    urlAuthFoursquare += "?client_id=YOUR_CLIENT_ID".replace("YOUR_CLIENT_ID",clientId)
    urlAuthFoursquare += "&client_secret=YOUR_CLIENT_SECRET".replace("YOUR_CLIENT_SECRET",clientSecret)
    urlAuthFoursquare += "&grant_type=authorization_code"
    urlAuthFoursquare += "&redirect_uri=htto%3A%2F%2Flocalhost%2Fcallback.html"
    urlAuthFoursquare += "&code=CODE"

    OAuth.initialize( oAuthKey );
    */
/*
	OAuth.popup(provider)
		.then(function(oauthResult) {
			console.log(oauthResult);
	  	return oauthResult.get('/me');
	}).then(function(data) {
	  // data is the result of the request to /me
	  console.log(data);
	}).fail(function(err) {
	  // handle an error
	});
*/

/*
	$.getJSON(urlAuthFoursquare, function( oData ) {
		console.log ( oData )
	})
*/
/*
	//Example with Facebook
	OAuth.popup('foursquare').done(function(yelp) {
		console.log (yelp);
	  //make API calls with `facebook`
	}).fail(function(err) {
		console.log (err);
	  //todo when the OAuth flow failed
	});
*/
/*
		var auth = {
			consumerKey : API_DATA.consumerKey,
			consumerSecret : API_DATA.consumerSecret,
			accessToken : API_DATA.token,
			accessTokenSecret : API_DATA.tokenSecret,
			serviceProvider : {
				signatureMethod : "HMAC-SHA1"
			}
		};

		var accessor = {
			consumerSecret : auth.consumerSecret,
			tokenSecret : auth.accessTokenSecret
		};

		aParameters = [];
		aParameters.push(['callback', 'cb']);
		aParameters.push(['oauth_consumer_key', auth.consumerKey]);
		aParameters.push(['oauth_consumer_secret', auth.consumerSecret]);
		aParameters.push(['oauth_token', auth.accessToken]);
		aParameters.push(['oauth_signature_method', 'HMAC-SHA1']);

		// key authentication end

		OAuth.popup('facebook').done(function(facebook) {
		    facebook.me().done(function(me) {
		        console.log('Your name is ' + me.name)
		    })
		})

		$("button").on("click", function(e) {

			e.preventDefault()

			var terms = $("#musicGenre").val();
			var near = $("#location").val();

			aParameters.push(['term', terms]);
			aParameters.push(['location', near]);

			var message = {
				'action' : 'http://api.yelp.com/v2/search',
				'method' : 'GET',
				'parameters' : aParameters
			};

			OAuth.setTimestampAndNonce(message);
			OAuth.SignatureMethod.sign(message, accessor);

			var parameterMap = OAuth.getParameterMap(message.parameters);
			//console.log(parameterMap);

			var sContentList = "";

			var sLiName = "<li><strong>name: </strong><% NAME %></li>";
			var sLiPhone = "<li><strong>phone: </strong><% PHONE %></li>";
			var sLiDescription = "<li><strong>description: </strong><% DESCRIPTION %></li>";
			var sLiCategories = "<li><strong>categories: </strong><% CATEGORIES %></li>";


			$.ajax({
				'url' : message.action,
				'data' : parameterMap,
				'dataType' : 'jsonp',
				'jsonpCallback' : 'cb',
				'cache': true, // very important //
				success : function( oData ) {
					var aPlaces = oData.businesses;

					$.each(aPlaces, function (index, oPlace ) {
						var categories, sListItem = "";
						sListItem += oPlace.image_url ? '<div><img src="' + oPlace.image_url + '"></div>' : "<div></div>";
						sListItem += "<ul>";
						sListItem += oPlace.name ? sLiName.replace("<% NAME %>", oPlace.name) : "";
						sListItem += oPlace.display_phone ? sLiPhone.replace("<% PHONE %>", oPlace.display_phone) : "";
						sListItem += oPlace.snippet_text ? sLiDescription.replace("<% DESCRIPTION %>", oPlace.snippet_text) : "";
						if ( oPlace.categories ) {
							categories = oPlace.categories.reduce(function (acc, aLabels, index ){
								acc.push(aLabels[0]);
								return acc;
							},[])
							sListItem += sLiCategories.replace("<% CATEGORIES %>", categories.join(" | ") );
						}
						sListItem += "</ul>";
						sContentList += "<li>" + sListItem + "</li>";
					})
					$("#results").html(sContentList);
				}
			});

		});


*/
        </script>

    </body>




    </html>