<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Percentage Calculator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

</head>
<body>

	<div class="container">

		<section id="my-forms">

	      <form id="f1" action="#" class="form-group">
	        <fieldset class="row">
						<div class="col-md-6 ">
							<p>What is <input type="number" id="f1-a" ng-model="f1a" size="3">% of <input type="number" ng-model="f1b" id="f1-b" size="7">?</p>
						</div>
						<!-- (parseInt(f1a)/100)*parseInt(f1b) -->
						<div class="col-md-6">
		          <button type='button' id="f1-calculate" ng-click="f1result=(f1a/100)*f1b" class="btn btn-primary">Calculate</button>
							<!-- result = a / 100 * b; -->
		          <input id="f1-result" type="number" ng-model="f1result" size="7" readonly="readonly">
		          <span class="remove">%</span>
						</div>
	        </fieldset>
	      </form>


	      <form id="f2" action="#" class="form-group">
	        <fieldset class="row">
						<div class="col-md-6">
							<p><input id="f2-a" ng-model="f2a" type="number" size="5"> is what percent of <input id="f2-b" ng-model="f2b" type="number" size="5">?</p>
						</div>
						<div class="col-md-6">
		          <button id="f2-calculate" ng-click="f2result=(f1a/f1b)*100" class="btn btn-primary">Calculate</button>
		          <!-- result = a / b * 100; -->
	          	<input id="f2-result" ng-model="f2result" type="number" size="7" readonly="readonly">
	          	<span>%</span>
						</div>
	        </fieldset>
	      </form>

	      <form id="f3" action="#" class="form-group">
	        <fieldset class="row">
						<div class="col-md-6">
							<p>What is the percentage increase/decrease<br>from <input id="f3-a" ng-model="f3a" type="number" size="6"> to <input id="f3-b" ng-model="f3b" type="number" size="6">?</p>
						</div>
						<div class="col-md-6">
		          <button id="f3-calculate" ng-click="f3result=(f3b-f3a)/f3a*100" class="btn btn-primary">Calculate</button>
		          <!-- result = (b - a) / a  * 100; -->
		          <input id="f3-result" ng-model="f3result" type="number" size="7" readonly="readonly">
		          <span>%</span>
						</div>
	        </fieldset>
	      </form>

	      <p id="tips"><strong>Tips:</strong> Use tab to move to the next field. Use shift-tab to move to the previous field. Press enter to calculate.</p>
	    </section>

	</div>

</body>
</html>