<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Percentage Calculator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script>
			angular.module('myApp', [])
				.controller('F1Controller', function( $scope ){
					$scope.getResult = function(){
						$scope.result = ($scope.a/100)*$scope.b;
					}
				})
				.controller('F2Controller', function( $scope ){
					$scope.getResult = function(){
						$scope.result=($scope.a/$scope.b)*100;
					}
				})
				.controller('F3Controller', function( $scope ){
					$scope.getResult = function(){
						$scope.result=($scope.b-$scope.a)/$scope.a*100
					}
				})

	</script>

</head>
<body>

	<div class="container">

		<section id="my-forms">

	      <form id="f1" action="#" class="form-group" ng-controller="F1Controller">
	        <fieldset class="row">
						<div class="col-md-6 ">
							<p>What is <input type="number" id="f1-a" ng-model="a" size="3">% of <input type="number" ng-model="b" id="f1-b" size="7">?</p>
						</div>
						<!-- (parseInt(f1a)/100)*parseInt(f1b) -->
						<div class="col-md-6">
		          <button type='button' id="f1-calculate" ng-click="getResult()" class="btn btn-primary">Calculate</button>
							<!-- result = a / 100 * b; -->
		          <input id="f1-result" type="number" ng-model="result" size="7" readonly="readonly">
		          <span class="remove">%</span>
						</div>
	        </fieldset>
	      </form>


	      <form id="f2" action="#" class="form-group" ng-controller="F2Controller">
	        <fieldset class="row">
						<div class="col-md-6">
							<p><input id="f2-a" ng-model="a" type="number" size="5"> is what percent of <input id="f2-b" ng-model="b" type="number" size="5">?</p>
						</div>
						<div class="col-md-6">
		          <button id="f2-calculate" ng-click="getResult()" class="btn btn-primary">Calculate</button>
		          <!-- result = a / b * 100; -->
	          	<input id="f2-result" ng-model="result" type="number" size="7" readonly="readonly">
	          	<span>%</span>
						</div>
	        </fieldset>
	      </form>

	      <form id="f3" action="#" class="form-group" ng-controller="F3Controller">
	        <fieldset class="row">
						<div class="col-md-6">
							<p>What is the percentage increase/decrease<br>from <input id="f3-a" ng-model="a" type="number" size="6"> to <input id="f3-b" ng-model="b" type="number" size="6">?</p>
						</div>
						<div class="col-md-6">
		          <button id="f3-calculate" ng-click="getResult()" class="btn btn-primary">Calculate</button>
		          <!-- result = (b - a) / a  * 100; -->
		          <input id="f3-result" ng-model="result" type="number" size="7" readonly="readonly">
		          <span>%</span>
						</div>
	        </fieldset>
	      </form>

	      <p id="tips"><strong>Tips:</strong> Use tab to move to the next field. Use shift-tab to move to the previous field. Press enter to calculate.</p>
	    </section>

	</div>

</body>
</html>